<!--
/*
============================================
; Title:  Contact
; Author: Professor Krasso
; Date:   23 April 2021
; Modified by: Douglas Jenkins
; Description: contact us page
;===========================================
*/
-->

<div fxLayout="column" class="contactUs">
  <div class="contactHeader">
    <h2>Contact Us</h2>
  </div>
  <div class="num">
    <mat-card-title class="card-title-icon">
      <p><mat-icon color="primary" class="icon_sm">local_phone</mat-icon> 123-456-7890</p>
    </mat-card-title>
  </div>

  <div class="mail">
    <mat-card-title class="card-title-icon">
      <p><mat-icon color="primary" class="icon_sm">email</mat-icon><a href="mailto:BCRS@mail.com"> BCRS@mail.com</a></p>
    </mat-card-title>
  </div>

  <div class="add">
    <mat-card-title>
      <p><mat-icon color="primary" class="icon_sm">location_on</mat-icon> 120 Street Ave, Bellevue, Nebraska 12245</p>
    </mat-card-title>
  </div>
</div>
