/*
============================================
; Title:  Contact
; Author: Professor Krasso
; Date:   23 April 2021
; Modified by: Douglas Jenkins
; Description: contact us page
;===========================================
*/

.contactUs{
  margin-top: 3em;
  margin-left: 20%;
}

.num, .add, .mail {
  padding: 10px;
}

.mail a{
  text-decoration: none;
}
 mat-card-title{
   font-size: small;
 }

