<!--
/*
============================================
; Title:  Not found
; Author: Professor Krasso
; Date:   23 April 2021
; Modified by: Douglas Jenkins
; Description: not found page
;===========================================
*/
-->
<div fxLayout="column">
  <mat-card fxFlex style="margin-top: 5%; margin-left: 20%;" class="mat-elevation-z0">

    <!-- This the image that is displayed and has the source with it -->
    <mat-card-title>
      <img src="./assets/error.png"/><br>
      <p class="source"><a href='https://pngtree.com/so/website-tips'>Image from Png Tree</a></p>
    </mat-card-title>

    <br>
    <mat-card-content>
      <p><span class="whoops">Error!!!</span>
      <br>We could not find the page you were looking for. Click the button below to return to the Sign In page</p>
    </mat-card-content>

    <br>

    <mat-card-content style="text-align: center; padding-left: 20%;">
      <button mat-raised-button color="accent" routerLink="/">Return</button>
    </mat-card-content>
  </mat-card>
</div>

