<div fxLayout="column">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus semper et nisi ut pellentesque. Suspendisse euismod tempor facilisis. Etiam imperdiet arcu ex, at fermentum ex pulvinar a. Morbi eu suscipit nunc. Phasellus a purus urna. Nullam sed neque gravida, molestie lectus non, laoreet enim. Nulla nisi erat, hendrerit id massa varius, molestie volutpat nisl. Cras finibus erat non tellus blandit tincidunt. Duis urna velit, consequat quis aliquet eu, rhoncus sed lectus. Suspendisse potenti. Phasellus velit elit, porta vel nisl id, cursus lobortis eros. In in rutrum justo, a pulvinar lorem. Nunc volutpat gravida sem et tempus.
        <br>
        Pellentesque aliquet leo ornare magna imperdiet varius. Sed blandit gravida arcu a aliquam. Maecenas at bibendum tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas molestie eu eros id auctor. Sed et viverra felis. Sed viverra, libero sed gravida pulvinar, libero metus ultrices dui, vitae consectetur ex est a dolor. Integer ac lorem non purus bibendum pretium eu et ligula. Cras at dictum leo. Ut convallis magna at arcu iaculis dictum. Nullam a aliquam enim, et ornare felis. Vivamus placerat efficitur ex, eu sodales lorem consequat et. Aliquam eget mi fringilla, semper dui sed, consectetur purus. Nulla laoreet ipsum eget efficitur molestie. Donec blandit lorem urna, ac rhoncus odio placerat ut. Curabitur ut euismod lorem.
        <br>
        Nunc malesuada turpis eleifend augue dignissim, ut pharetra urna commodo. In id urna ac nibh sollicitudin placerat. Duis vitae dolor magna. Proin eu tortor metus. Integer nunc neque, viverra in auctor ut, luctus.
    </p>
</div>

