<!-- About us Page -->
<div fxFlex class="about-container">
 <div class="about-icon">
  <mat-icon>laptop_windows</mat-icon>
 </div>
 <div class="about-text">
  <p>
    <!-- Short bio of BCRS -->
    From the basic computer or laptop tune-up to the new custom computer, we got you covered!
    We are a family owned local repair shop who works hard to give our
    customers the best possible experience. We try to give you the best price
    for your needs! while offering you the most outstanding customer service
    possible. We enjoy repairing electronics and always waiting for a new challenge!
    We consider ourselves experts at what we do and hope you can trust your most
    precious gadget with us! We always put our customers above anything else, and want you
    to feel better from the moment you walk into our shop!
  </p>
 </div>

</div>
