/*
  Styling for home page
*/
.main-welcome {
    margin-top: 30px;
  }

  .title {
    text-align: center;
    font-weight: lighter;
  }

  .subtitle {
    text-align: center;
    font-size: 14px;
  }

  /*
  Task container styling
*/
.task-container {
  width: 50%;
  margin: 0 auto;
}
