<div fxLayout="column" class="page-container">

  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar class="navigation-bar" color='primary'>
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->
        <button class="logo" routerLink="/" mat-button>BCRS</button>

        <!-- home aboutUs and ContactUd links-->
        <button class="navbar-link" mat-button routerLink="/about">About Us</button>
        <button class="navbar-link" mat-button routerLink="/contact">Contact Us</button>
      </div>

      <!-- navigation to the right of the website - signOut and Icon with a dropdown menu-->
      <div fxFlex fxLayoutAlign="end center">
        <div class="dropdown">
            <mat-icon class="icon">person_outline</mat-icon>
          <div class="dropdown-content">
            <li class="navbar-link" mat-button routerLink='/users'>Configure Users</li>
            <li class="navbar-link" mat-button routerLink='/security-questions'>Configure Security Questions</li>
            <li class="navbar-link" mat-button (click)="signOut()">Sign Out</li>
          </div>
        </div>
      </div>

    </mat-toolbar>
  </nav>

  <div fxLayout>
    <div fxFlex>

        <!-- this will tell Angular flex-layout that this is a flex element under a flex-row-->
      <mat-card class="main-container mat-elevation-z0" >
        <mat-card-title class="title">{{ assignment }}</mat-card-title>

        <br>
        <br>

        <!--
          Router outer placeholder where information from each specific page will be shown
          depending on what user clicks (about, contact, book-list)
        -->
        <mat-card-content>
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content"  color='primary'>
        <p>
          &copy; {{year | date: 'yyyy'}} - Team RavenClaw<br>
           <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>

</div>
