<div fxLayout="column">

  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar class="navigation-bar" color='primary'>
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->
        <button class="logo" routerLink="/" mat-button>BCRS</button>

        <!-- home aboutUs and ContactUd links-->
        <button class="navbar-link" routerLink="/" mat-button>Home</button>
        <button class="navbar-link" mat-button routerLink="/about">About Us</button>
        <button class="navbar-link" mat-button routerLink="/contact">Contact Us</button>
      </div>

      <!-- navigation to the right of the website - signOut and Icon with a dropdown menu-->
      <div fxFlex fxLayoutAlign="end center">
        <div class="dropdown">
            <mat-icon class="icon">person_outline</mat-icon>
          <div class="dropdown-content">
            <button class="navbar-link" mat-button routerLink='/users'>Configure Users</button><br>
            <button class="navbar-link" mat-button routerLink='/security-questions'>Configure Security Questions</button><br>
            <button class="navbar-link" mat-button (click)="signOut()">Sign Out</button>
          </div>
        </div>
      </div>

    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content"  color='primary'>
        <p>
          &copy; {{year | date: 'yyyy'}} - Team RavenClaw<br>
           <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>

</div>
