<!--
/*
============================================
; Title:  role.create.component.html
; Author: Professor Krasso
; Date:   17 April 2021
; Modified by: Douglas Jenkins
; Description: Purchase by service graph
;===========================================
*/
-->

<div FxLayout='column' fxLayoutAlign='center center' class="body">
  <mat-card class="main-container mat-elevation-z0">
    <h1 style="font-weight:lighter; text-align: center;">Purchases By Service Page </h1>

    <!-- Pie chart pulling data -->
  <p-chart type='pie' [data]='data'></p-chart>
  </mat-card>
</div>
