<!--
/*
============================================
; Title:  Internal server error
; Author: Professor Krasso
; Date:   25 April 2021
; Modified by: Arlix Sorto
; Description: Internal server error page
;===========================================
*/
-->
<div fxLayout="column">
    <mat-card fxFlex  class="mat-elevation-z0">

        <!-- This the image that is displayed and has the source with it -->
        <br>
        <mat-card-content class="main-container">
            <mat-card style="text-align: center;" class="mat-elevation-z0">
                <mat-card-title>
                    500 ERROR!
                </mat-card-title>

                <br>
                <br>
                <br>
                <br>

                <mat-card-content class="subtitle">
                    Unexpected Error! <mat-icon>sentiment_very_dissatisfied</mat-icon>
                </mat-card-content>

                <br>
                <br>

                <mat-card-actions style="text-align: center;">

                    <button mat-raised-button color="accent" routerLink="/">Return</button>
                </mat-card-actions>
            </mat-card>

        </mat-card-content>

        <br>


    </mat-card>
</div>
